@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../fonts/JosefinSans-Light.ttf') format('truetype');
}
